/* font-family: 'Montserrat', sans-serif;
font-family: 'Fraunces', serif; 
Parágrafos 14px*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--cor-paragrafo);
    background-color: #fff;
    font-size: 14px;
    border-radius: 20px;
}

.main .imagem {
    width: 350px;
}

.imagem img {
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.main .conteudo {
    width: 320px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.conteudo p {
    font-size: 14px;
    line-height: 1.6em;
}

.conteudo > p:first-child {
    text-transform: uppercase;
    letter-spacing: 7px;
}

.conteudo h1 {
    font-size: 2.8em;
    font-family: 'Fraunces', serif;
    color: #000;
}

.conteudo .valores {
    display: flex;
    align-items: center;
    gap: 20px;
}

.valores .valor.novo {
    color: var(--preco-destaque);
    font-size: 2.3em;
    font-family: 'Fraunces', serif;
    text-decoration: none;
}

.valores .valor.antigo {
    text-decoration: line-through;

}

.conteudo .btn {
    padding: 1.4em;
    background-color: var(--preco-destaque);
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 1em;
}

.conteudo .btn:hover {
    background-color: var(--preco-destaque-hover);
    cursor: pointer;
}

@media (max-width: 776px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .imagem img {
        border-radius: 15px 15px 0 0;
    }

    .main .conteudo {
        justify-content: center;
        gap: 15px;
        padding: 1em;
    }
    
    .conteudo p {
        margin-top: 10px;
    }

    .conteudo h1 {
        font-size: 2.2em;
    }

    .conteudo .btn:active {
        background-color: var(--preco-destaque-hover);
    }

}